<!-- Inspired by https://www.w3schools.com/graphics/tryit.asp?filename=trycanvas_clock_hands which came with many magical numbers -->
<canvas id="canvas" style="background-color:#f9f9f9">
  Your browser does not support canvas
</canvas>

<script>
const SEC = 0,  MIN = 1, HOUR = 2, DAY = 3, MONTH = 4;   

const ORIG_LENGTHS = [0.65, 0.6, 0.39, 0.3, 0.8]
const ORIG_WIDTHS = [0.01, 0.05, 0.15, 0.03, 0.05]
let lengths, widths, colors;

window.addEventListener('DOMContentLoaded', redrawCanvas);

function redrawCanvas() {
	let canvas = document.getElementById("canvas");
	let canvasWidth = document.getElementById("canvas_section").offsetWidth
	let canvasHeight = document.getElementById("canvas_section").offsetHeight
	let shortestSide = canvasHeight > canvasWidth ? canvasWidth : canvasHeight;
	canvas.width = shortestSide;
	canvas.height = shortestSide;
	let ctx = canvas.getContext("2d");
	let radius = canvas.height / 2;
	ctx.translate(radius, radius);
	radius = radius * 0.90
	lengths = ORIG_LENGTHS.map((n) => { return radius * n });
	widths = ORIG_WIDTHS.map((n) => { return radius * n });
	colors = ["#ff0000", "#222222", "#333333", "#66d441", "#00ffff"]
	// Only set the values for the table if the table exists
	if (document.getElementById('table_settings') !== null) {
		setValues(radius, lengths, widths, colors)
	}
	ival = setInterval(() => {
		drawClock(ctx, radius)
	}, 20); // 60hz screens will refresh every 17ms
	window.addEventListener('resize', () => {
		clearInterval(ival);
		redrawCanvas();
	}, {once: true});
}

function drawClock(ctx, radius) {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
  markWeekNames(ctx, radius)
}

function drawFace(ctx, radius) {
  let grad;
  ctx.beginPath();
  ctx.arc(0, 0, radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
  grad.addColorStop(0, '#333');
  grad.addColorStop(0.5, 'white');
  grad.addColorStop(1, '#333');
  ctx.strokeStyle = grad;
  ctx.lineWidth = radius*0.1;
  ctx.stroke();
  ctx.beginPath();
  ctx.fillStyle = '#333';
  ctx.fill();
}

function drawNumbers(ctx, radius) {
  let ang;
  let num;
  ctx.font = radius*0.15 + "px arial";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
  for(num = 0; num < 12; num++){
    ang = num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -radius*0.81);
    ctx.rotate(-ang);
    ctx.fillText(months[num], 0, 0);
    ctx.rotate(ang);
    ctx.translate(0, radius*0.81);
    ctx.rotate(-ang);
  }
}

function getDayOfYear() {
  const nowTs = new Date().getTime();
  const jan1Ts = new Date(new Date().getFullYear(),0,1,0,0,0,0).getTime();
  const millisecPerDay = 1000*60*60*24
  return Math.ceil((nowTs - jan1Ts)/millisecPerDay);
}

function drawTime(ctx, radius){
	const now = new Date();
    const seconds = now.getSeconds() + now.getMilliseconds()/1000;
    const minutes = now.getMinutes() + seconds/60;
    const hours = (now.getHours() + minutes/60);
	const clockhours = hours % 12;
    const doy = getDayOfYear();
	const dow = now.getDay() + hours/24 
    const tau = 2*Math.PI;
	// millisecond hand
    //drawHand(ctx, tau*now.getMilliseconds()/1000, radius*0.65, radius*0.01, "#800");
	// seconds hand
	drawHand(ctx, tau*seconds/60, lengths[SEC], widths[SEC], colors[SEC]);
	// minutes hand
    drawHand(ctx, tau*minutes/60, lengths[MIN], widths[MIN], colors[MIN]);
	// weeks hand
    drawHand(ctx, tau*dow/7, lengths[DAY], widths[DAY], colors[DAY]);
	// months hand
    drawHand(ctx, doy/365*tau, lengths[MONTH], widths[MONTH], colors[MONTH]); 
	// hours hand
    drawHand(ctx, tau*clockhours/12, lengths[HOUR], widths[HOUR], colors[HOUR]);
}

function drawHand(ctx, pos, length, width, color) {
    ctx.strokeStyle = color;
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.lineCap = "round";
    ctx.moveTo(0, 0);
    ctx.rotate(pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(-pos);
}

function markWeekNames(ctx, radius) {
    let secHandLength = 60;
	const daysOfWeek = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"] //["☉", "☾", "♂", "☿", "♃", "♀", "♄"]

    for (let i = 0; i < 7; i++) {
		angle = (i-1.75)*(Math.PI * 2) / 7;  // THE ANGLE TO MARK.
		ctx.lineWidth = radius*.015;         // HAND WIDTH.
		ctx.beginPath();

		let x1 = radius/175*Math.cos(angle) * (secHandLength);
		let y1 = radius/175*Math.sin(angle) * (secHandLength);
		let x2 = radius/175*Math.cos(angle) * (secHandLength - (secHandLength / 30));
		let y2 = radius/175*Math.sin(angle) * (secHandLength - (secHandLength / 30));

		ctx.moveTo(x1, y1);
		ctx.lineTo(x2, y2);
        ctx.fillStyle = "#915b25"; 
		ctx.font = Math.round(radius/10).toString() + 'px sans-serif';
        ctx.fillText(daysOfWeek[i], x2*1.2, y2*1.2);
        
		// To create a tickmark next to the name
		//ctx.strokeStyle = "#915b25";
		//ctx.stroke();
	}
}

</script>
